{%load static%}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Resume</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'images/favicon.ico'%}" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'index/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'index/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'index/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'portfolio/assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Mar 13 2024 with Bootstrap v5.3.3
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  


  <!-- ======= Header ======= -->
  
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'portfolio/assets/img/my_pic.jpeg'%}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{%url 'index' %}">Tumelo Motsele</a></h1>
        
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume & Qualifications</span></a></li>

        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
<!-- End Hero -->
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>

        </div>
        

        <div class="row">
          
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Cyber &amp; DevOps </h3>
            <p class="fst-italic">
              Developed NewzCorner, a news sharing web application using Django framework, HTML, CSS, and PostgreSQL for databases. 
              Leveraged Amazon RDS for database management and S3 buckets for efficient storage and delivery of static files.
            </p>
            <div class="row">
              <div class="col-lg-3">
                <ul>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <strong>Project Link:</strong> 
                    <a href="https://articlenews-42ebfc8a7b46.herokuapp.com/" target="_blank">https://articlenews-42ebfc8a7b46.herokuapp.com/</a>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+2778 495 3503 </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Gauteng, SA</span></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>tumelomotsele@gmail.com</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>ICT Manager</h4>
            <h5>April 2017 - Present</h5>
            <p><em>Pointb Digital Marketing Agency, Gauteng </em></p>
            <ul>
              <li>Server architecture and Infrastructure support </li>
              <li>CI/CD pipelines</li>
              <li>Staff training and Knowledge sharing  </li>
              <li>Management of hosted services </li>
              <li>Mail Administration POP/IMAP</li>
              <li>IT Assets and inventory management </li>
              <li>Project management </li>
              <li>server installations / management and upgrades </li>
              <li> DNS/DHCP, Firewall and VPN</li>
              <li>Management of hosted services  and CLoud Platforms</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Senior Systems Administrator</h4>
            <h5>July 2012 - March 2017</h5>
            <p><em>Micros SA(AdapIT), SA</em></p>
            <ul>
              <ul><strong>Severs and Application Support</strong> </ul>
              <li>Attend to and resolve support calls logged at the Service Desk within</li>
              <li>Virtualization (hyper-V & Vmware Esxii6 )</li>
              <li>Domain controller and Group policy object modeling</li>
              <li>Microsoft Exchange server 2007/2013 management</li>
              <li>DHCP and DNS management</li>
              <li>Microsoft Active directory</li>
              <li>Server and Storage (Dell Equalogics)</li>
              <li>Linux Server Adminsitration</li>
              <li>Antivirus and Firewall Administration</li>
              <li>Maintain all internal system application for business</li>
              <ul><strong>Networking</strong> </ul>
              <li>Layer 2 & 3 routing & Switching (Cisco)</li>
              <li>CISCO Call Manager administration</li>
              <li>Working knowledge of ( Ripv2, OSPF ,MPLS )</li>
              <li>Set  up/configuring core/access layer switches (CISCO and DELL)</li>
              <li> VPN and APN setup</li>
              <li>Network Monitoring ( Nagios , Dell OME)</li>
              <li> Troubleshooting LAN/WAN connectivity issues</li>
              <li>Wireless AP setup and troubleshooting (CISCO)</li>
              <li>Avaya IP office suite and phones setup</li>
              <li>Voip and Pbx</li>
              <li></li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>IT Support Consultant</h4>
            <h5>December 2009 - June 2012</h5>
            <p><em>Pilot Software(SA) </em></p>
            <ul>
              <li>1st line support support ,assisting telephonically and remotely</li>
              <li> Log all calls and attend according to SLA on Sage Pastel evolution </li>
              <li>Call monitoring according to SLA and ticketing system </li>
              <li>Installing and configuring Pilot software solutions on client servers</li>
              <li>Working with SQL database ,creating menu items and making changes</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>International Diploma in IT Engineering </h4>
              <h5>2007 - 2008</h5>
              <p><em>Cti Education Group (Pearson Vue)</em></p>
              <li>A+ preparation</li>
              <li>N+ preparation</li>
              <li>S+ Preparation</li>
              <li>Windows Server Administration</li>
              <li>Administering Linux (Fedora Core & Ubuntu )</li>
              <li>Customer Relations</li>
            </div>
            
          </div>
        
        
        </div>
        

      
      </div>
    
      <div class="container">

        <div class="section-title">
          <h2>Certification and Badges</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        {%for certificate in certificates%}
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <a href="{{ certificate.source_link }}" target="_blank"> <!-- Anchor tag wrapping both image and description -->
                <img src="{{ certificate.image.url }}" class="img-fluid" alt="" style="width: 300; height: auto;">
              </a>
              <div class="portfolio-links">
                <a href="{{certificate.source_link}}"  data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="{{ certificate.source_link }}" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>


          

        </div>
        {%endfor%}

      </div>
    
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    
    <!-- End Portfolio Section -->


    <!-- ======= Services Section ======= -->
    <!-- End Services Section -->

    

      

  </main><!-- End #main -->
  


  

  <!-- ======= Footer ======= -->
  <!-- End  Footer -->


  <!-- Vendor JS Files -->
  <script src="/static/portfolio/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/portfolio/assets/vendor/aos/aos.js"></script>
  <script src="/static/portfolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/portfolio/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/portfolio/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/portfolio/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/portfolio/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="/static/portfolio/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/portfolio/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'portfolio/assets/js/main.js'%}"></script>

</body>

</html>